.header-button{
    color:#4339F2;
    font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 1000;
    text-transform: uppercase; 
    color: #4339F2;
    display: flex;
    position: relative;
}

@media (max-width: 1024px) {
    .header-button {
        display: none;
    }
}

.header-button:hover{
    border:#4339F2;
    border-radius: 5px;
}

.dropDownComponent{
    position: absolute;
    margin-top: 2px;
}
.dropDownHeading{
    color:#4339F2;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropDownHeading, .dropDownItem{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.dropDownItem, .dropDownItemImage{
    width: 220px;
}

.dropDownItemImage{
    background-color: lightpink;
    border: solid 2px lightpink;
    border-radius: 2%;
    padding: "0px";
}

.dropDownItemImage:hover{
    border: solid 2px rgb(250, 165, 180);
    
}

.dropDownItemImage p:first-of-type{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.dropDownItemImage p:last-of-type{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 14px;
}

.dropDownItem{
    font-size: 14px;
    padding: 10px;
}

.dropDownItem:hover{
    background-color: lightpink;
    border-radius: 2%;
}

.url{
    text-decoration: underline;
    color:#4339F2;
}

.useCaseContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    grid-auto-flow: column;
    margin-left: -30px;
}

.resourcesDropDownContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    grid-auto-flow: column;
    margin-left: -250px;
}


.spanAllRows{
    grid-row: 1 / -1;
}

.centerHorizontally{
    display: grid;
    place-items: center;
}

.beginHeaderButtonContainer, .endHeaderButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.beginHeaderButtonContainer{
}

.alignBaseline{
    display: flex;
    align-items: baseline;
}