@import  '../../Variables.scss';

.headerContainer{
    display: flex; 
    justify-content: space-around;
    background-color: var(--header-color);
}

@media (max-width: $break-point-width) {
    .headerContainer{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
}

.header-button{
    color: var(--theme-color);
    font-weight: 1000;
    text-transform: uppercase; 
    display: flex;
    position: relative;
}

@media (max-width: $break-point-width) {
    .header-button {
        display: none;
    }
}

.header-button:hover{
    border: solid var(--button-hover-color);
    border-radius: 5px;
}

.dropDownComponent{
    position: absolute;
    margin-top: 2px;
}
.dropDownHeading{
    color: var(--theme-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropDownHeading, .dropDownItem{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.dropDownItem, .dropDownItemImage{
    width: 220px;
}

.dropDownItemImage{
    background-color: var(--theme-color-light);
    border: solid 2px  var(--theme-color-light);
    border-radius: 2%;
    padding: "0px";
}

.dropDownItemImage:hover{
    border: solid 2px var(--button-hover-color);
    
}

.dropDownItemImage p:first-of-type{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.dropDownItemImage p:last-of-type{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 14px;
}

.dropDownItem{
    font-size: 14px;
    padding: 10px;
}

.dropDownItem:hover{
    background-color: var(--theme-color-light);
    border-radius: 2%;
}

.url{
    text-decoration: underline;
    color: var(--theme-color);
}

.useCaseContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    grid-auto-flow: column;
    margin-left: -30px;
    background-color: white;
}

.resourcesDropDownContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    grid-auto-flow: column;
    margin-left: -250px;
    background-color: white;
}


.spanAllRows{
    grid-row: 1 / -1;
}

.centerHorizontally{
    display: grid;
    place-items: center;
}

.headerButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.alignBaseline{
    display: flex;
    align-items: baseline;
}
