.header-logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-logo-button:hover {
    background-color: var(--button-hover-color);
    border-radius: 50%;
  }
  
  .header-logo {
    width: 40px;
    height: 40px;
  }
  