@import  '../../../Variables.scss';

.LibraryTileContainer{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 30px;
    width: var(--tile-width);
    padding-bottom: 70px;
    box-sizing: border-box;
}

.LibraryTileContainer:hover{
    border: 1.5px solid var(--deep-grey);

}

.LibraryTileContainer > div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 3px;
}

.LibraryTileContainer > div>:first-of-type{
    text-transform:  uppercase;
    color: var(--theme-color);
    font-weight: bold;
    font-size: 18px;
}

.LibraryImageDiv{
    border: 1px solid grey;
    padding: 2px;
    border-radius: 7px;
    width: fit-content;
}

.LibraryTileContainer > div>:last-of-type{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: $break-point-width) {
    .library-tile-bp-expand{
        margin-left: 0px;
        width: 100%;
    }
}