@import  './Variables.scss';

:root {
    --theme-color: #4339F2;
    --theme-color-light: #f3e8ff;
    --button-hover-color: #4339F2;
    --deep-grey: #2E2E2E;
    --use-cases-menudropdown-text-color: black;
    --menu-vertical-divider-line-color: #E5E5E5;
    --header-color:#f6f6eb;
    --tile-width: 250px;
    --footer-color: #10284b;
}

body {padding: 0; 
   margin: 0;
   box-sizing: border-box;
   font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, sans-serif;
}

main{
  display: flex; 
  flex-direction:column;
  width:100%; 
  gap:40px
}

.full-page-section { padding: 20px; min-height: 100vh; }

.container{
  min-height: 100vh;
  display: grid;
  grid-template: 
  "header header" auto
  "sidebar main-content" 1fr
  "footer footer" auto
  /auto 1fr
  ;
}

header{
  grid-area: header;
  height: 70px;
}

aside{
  grid-area: sidebar;
}

main{
  grid-area: main-content;
}

footer{
  grid-area: footer;
  background-color: var(--footer-color);
}

.Library{
  display: flex;
}

@media (max-width: $break-point-width) {
    .Library{
        flex-direction: column;
        margin-left: 0px;
    }
}
